
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}


.card_container {
    width: 20rem;
    height: 31.188rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: auto;
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 15px;
    box-sizing: border-box;
}

.qr_code_img{
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

.titulo{
    font-weight: 700;
    font-size: 1.375rem;
    height: 3.25rem;
    line-height: 120%;
    color: hsl(218, 44%, 22%);
    text-align: center;
    margin-bottom: 1rem;       
}

.titulo, .descricao, .link, footer {
    font-family: "Outfit", serif;
}

.descricao {
    font-weight: 400;
    color:hsl(216, 15%, 48%);
    font-size: 0.938rem;
    line-height: 140%;
    text-align: center;
    padding: 0 1rem;
}

footer {
    position: absolute; 
    bottom: 0;
    color: hsl(216, 15%, 48%);
    text-align: center; 
    font-size: 0.938rem ;
}

.footer_container {
    width: 15rem;
}

.link {
    text-decoration: none;
}

@media (min-width: 768px){
    .footer_container {
        width: 100vw;
    }  
}